<div class="order-status-container">
    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">
                S
            </div>
            <mat-card-title>Sipariş Verildi</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{ data.placed }}</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">
                K
            </div>
            <mat-card-title>Kargolandı</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{ data.shipped }}</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="order-status-card">
        <mat-card-header>
            <div mat-card-avatar class="status-avatar">
                T
            </div>
            <mat-card-title>Teslim Edildi</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="status-value">{{data.delivered}}</div>
        </mat-card-content>
    </mat-card>


</div>